In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [41]:
features = pd.read_csv('Features data set.csv')
sales = pd.read_csv('sales data-set.csv')
stores = pd.read_csv('stores data-set.csv')

## 1- Predict the department-wide sales for each store for the following year

In [53]:
sales['Year'] = pd.to_datetime(sales['Date'], format='%d/%m/%Y').dt.year

sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday  Year
0      1     1  05/02/2010      24924.50      False  2010
1      1     1  12/02/2010      46039.49       True  2010
2      1     1  19/02/2010      41595.55      False  2010
3      1     1  26/02/2010      19403.54      False  2010
4      1     1  05/03/2010      21827.90      False  2010

In [55]:
#Total sales per store and department for each year.

store_and_dept = sales.groupby(['Store','Dept','Year']).sum().reset_index()

store_and_dept.rename(columns={'Weekly_Sales':'Total_Sales'},inplace=True)

store_and_dept.tail()

      Store  Dept  Year  Total_Sales  IsHoliday
9653     45    97  2011    347280.40        4.0
9654     45    97  2012    282137.95        2.0
9655     45    98  2010      5581.90        4.0
9656     45    98  2011     40449.78        4.0
9657     45    98  2012     29735.59        2.0

In [57]:
#Predict weekly sales

train_df = sales.copy()

test_df = sales.drop('Weekly_Sales', axis=1)